.history-blurb {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  font-weight: 400;
  grid-area: history-blurb;
  max-height: 595px;
  overflow-y: scroll;
  padding: 16px;
  white-space: pre-line;
  /* hide scrollbar but allow scrolling */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
/* hide scrollbar but allow scrolling */
.history-blurb::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@media screen and (max-width: 500px) {
  .history-blurb {
    max-height: unset;
  }
}
