.guitar-frame-container {
  grid-area: guitar-frame;
  height: 595px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 489px;
}

.guitar-frame {
  height: 595px;
  left: 0px;
  position: absolute;
  width: 489px;
  z-index: 2;
}

.guitar-image-with-shadow {
  background-size: 100%;
  box-shadow: inset 0px 0px 30px 10px black;
  height: 400px;
  margin-left: 95px;
  margin-top: 100px;
  position: absolute;
  width: 300px;
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .guitar-frame-container {
    height: 357px;
    width: 293px;
  }

  .guitar-frame {
    height: 357px;
    left: 0px;
    margin-left: -15px;
    position: absolute;
    width: 293px;
  }

  .guitar-image-with-shadow {
    box-shadow: inset 0px 0px 30px 10px black;
    height: 240px;
    margin-left: 42px;
    margin-top: 60px;
    width: 180px;
  }  
}
